<div class="container">
<%= link_to cocktails_path do %>
  <h3><i class="fas fa-arrow-left"></i></h3>
<% end %>

  <%= simple_form_for @cocktail do |c| %>
    <%= c.input :name %>
    <%= c.input :img_url %>
    <%= c.submit class: "btn btn-primary" %>
  <% end %>
</div>
